<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Mi base{% endblock%}</title>
</head>
<body>
    <header>

        <div>
            {% if user.is_authenticated %}
                <span>{{ user.username }}</span>
                <a href="{% url "logout" %}">Log Out</a>
            {% else %}
                <span>No estas registrado aun</span>
                <a href="{% url "login" %}">Log In</a>
            {% endif %}

            <a href="{% url "registro" %}">Registrarse</a>
        </div>

        {% block header %}<h1 class="titulo">Mi base</h1>{% endblock header %}

        {% include 'navbar.html' %}
        
    </header>
    <div class="contenido">
        {% block content %}
        {% endblock %}
    </div>

</body>
</html>