{% extends "base.html" %}

{% block title %}Eliminar Posteo{% endblock %}

{% block header %}
    <h1>Eliminar Posteo</h1>
{% endblock %}

{% block content %}
    
    <div class="publicacion">
        <h2>¿Estas seguro de que queres eliminar este posteo?</h2>
        <div class="interior">
            <div class="datos">
                <span class="textoNormal">
                    Titulo: 
                    <span class="textoItemLista">{{ publicacion.titulo }}</span>
                </span>

                <span class="textoNormal">
                    Autor: 
                    <span class="textoItemLista">{{ publicacion.autor }}</span>
                </span>

                <span class="textoNormal">
                    Fecha de publicacion: 
                    <span class="textoItemLista">{{ publicacion.fechaPublicacion }}</span>
                </span>
            </div>
            <form class="eliminar" method="post">
                {% csrf_token %}
                <a class="cancelar" href="{%url 'listar_publicaciones' %}">Cancelar</a>
                <button type="submit">Eliminar</button>
            </form>
        </div>
    </div>
    
{% endblock %}