<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar sesion</title>
</head>
<body>
    <div>
        <h1>Iniciar Sesion</h1>
        <form class="formulario" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Iniciar Sesion</button>
        </form>
        <h2>No tenes cuenta? <a  href="{% url 'registro' %}">Registrate</a></h2>
    </div>
</body>
</html>